body {
    text-align: center;
    background: url("/assets/Pakistan_Monument.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Helvetica;
}

img {
    border-radius: 50%;
}

p {
    font-size: 22px;
}

input, textarea {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"] {
    background: rgb(249, 4, 4);
    color: #ffffff;
}

input[type="submit"]:hover {
    cursor: pointer;
}